<section id="category-list">
  <ul>
    <li><a href="httP://google.com" target="_blank">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on children’s books</a></li>
    <li><a href="#">Movies based on childre n’s books</a></li>
  </ul>
</section>
