// colours
$grey01: #f9f9f9;
$grey02: #eeeeee;

// Break points
$medium-min: 760px;
$large-min: 980px;

// Font sizes
$font-small: 11px;
$font-medium: 14px;
$font-large: 18px;

// layout
$main-col-width: 70%;
$fixed-unit: 15px;